@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas');

html {
  height: 100%;
}

body {
  text-align: center;
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  background-color: rgb(94, 18, 218);
}

h1 {
  color: rgb(73, 236, 32);
  font-family: 'Mountains of Christmas', cursive;
  font-size: 50px;
}

h2 {
  color: rgb(230, 114, 6);
}

main {
  display: flex;
  justify-content: space-around;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 300px;
}

button {
  margin: 5px;
}

.hidden {
  display: none;
}

footer {
  font-family: 'Mountains of Christmas', cursive;
  font-size: 50px;
  color: rgb(73, 236, 32);
}
